
.site-about{
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-company{
    background: $primary-color;
    width: 40%;
    padding: 70px 38px;
    @include desktop{
      width: 100%;
      margin-bottom: 20px;
    }
    h1{
      color: $white;
      font-weight: 400;
      font-size: 25px;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &-header{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 4rem;
    &-content{
      h1{
        @include mobile{
          font-size: 2rem;
        }
        font-size: 55px;
        span{
          color: $primary-color;
        }
      }
    }
  }

  &-headshot{
    img{
      max-width:28rem;
    }
  }

  &-description{
    background: #F2F2F2;
    padding-top: 4rem;
    padding-bottom: 4rem;
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  &-expertise{
    background: #F2F2F2;
    padding-bottom: 4rem;
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }

    &-list{
      padding-inline-start: 0em;

      li{
        a{
          color: black;
          text-decoration: underline;
        }
        list-style: none;
        font-size: 25px;
        font-weight: 300;
        color: $text-color-dark;
        &:not(:last-child){
          margin-bottom: 1rem;
        }
      }    
    }

  }

}
