
.cs-summary {
	background: 	#F9F9F9;
	padding-top: 	2rem;
	padding-top: 	2rem;
	margin-top: 	1rem;
	margin-bottom: 	1rem;
	/* @media (min-width: 320px) and (max-width: 767px) {

	} */
}

.cs-summary-row {
	h3 {
		font-weight: normal;
	}
}

.cs-emphasis-header {
	color: #909090;
}

