.site-contact{
  // padding: 150px 0 100px;
  padding-top: 11rem;
  padding-bottom: 5rem;

  background: #F2F2F2;
  @include mobile{
    padding: 120px 0 100px;
  }
  &-title{
    text-align: center;

    @media (min-width: 320px) and (max-width: 767px){
      // Align across all pages
      padding-left: 0px;
      padding-right: 0px;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    // Align across all pages
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;

    // Adjust to match mockup
    padding-left: 60px;
    padding-right: 60px;

    span{
      color: $primary-color;
    }
  }
  &-form{
    margin-top: 20px;
    text-align: center;
    h4{
      padding-top: 3rem;
      padding-bottom: 2rem;
      font-weight: 300;
      span{
        text-decoration: underline;
        // color: $primary-color;
        a{
          text-decoration: underline;
          color: black;
        }
      }
      @include tablet{
        font-size: 20px;
      }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }
}