.site-contact{
  // padding: 150px 0 100px;
  padding-top: 11rem;
  padding-bottom: 5rem;

  background: #F2F2F2;
  @include mobile{
    padding: 120px 0 100px;
  }
  &-title{
    text-align: center;
    font-weight: bold;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: $primary-color;
    }
  }
  &-form{
    margin-top: 20px;
    text-align: center;
    h4{
      padding-top: 3rem;
      padding-bottom: 2rem;
      font-weight: 300;
      span{
        text-decoration: underline;
        // color: $primary-color;
        a{
          text-decoration: underline;
          color: black;
        }
      }
      @include tablet{
        font-size: 20px;
      }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }
}