.site-cta{

  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;

  @include desktop{
    // padding-left: 38rem;
    // padding-right: 38rem;
  }
  &-title{
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;

    /*
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 60px;
    */

    a{
      color: $secondary-color;
      text-decoration: underline;
    }

    /*
    @include desktop{
      letter-spacing: 5px;
    }
    @include desktop-lg{
      font-size: 50px;
      margin-bottom: 40px;
    }
    @include mobile{
      font-size: 40px;
      letter-spacing: 1;
    }
    */
  }
}