.site-hero{
  @include mobile{
    padding-top: 100px;
    padding-bottom: 156px;
  }
  position: relative;
  padding-top: 8rem;
  padding-bottom: 15rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  &-content{
    h6{
      @include mobile{
        font-size: 1rem;
      }
      padding-top:1rem;
      font-family: $primary-font;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.02em;
      color: #000000;
    }

    h1{
      @include mobile{
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-left: 0px;
        padding-right: 0px;
      }
      padding-left: 60px;
      padding-right: 60px;

      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 4rem;
      span{
        color: $primary-color;
      }
    }
  }

  /* &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  } */
}