.site-hero{
  /* @include desktop{
    height: auto;
    padding: 200px 0;
  }
  @include mobile{
    padding: 150px 0;
  } */ 

  position: relative;
  padding-top: 8rem;
  padding-bottom: 15rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  &-content{
    h6{
      /* @include desktop-lg{
        font-size: 50px;
        margin-bottom: 50px;
      }
      @include mobile{
        font-size: 40px;
      } */

      font-family: $primary-font;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.02em;
      color: #000000;
    }

    h1{
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  /* &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  } */
}