.site-navigation{
  @include mobile{
    padding: 15px 0;
  }

  padding: 20px 0;
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);

  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.034),
    0 3px 3px rgba(0, 0, 0, 0.048),
    0 5px 5px rgba(0, 0, 0, 0.06);

  a{
    color: $secondary-color;
  }

  .navbar-brand{
    @include mobile{
      padding-left: 23px;
    }
    padding: 0;
    margin: 0;
    img{
      max-width: 45px;
    }
    .mfirst{
      font-weight: 600;
      @include mobile{
        display: none;
      }
    }
    .mlast{
      @include mobile{
        display: none;
      }
    }
  }

  .nav-item{
    @include desktop{
      text-align: center;
    }
    .nav-link{
      font-family: $secondary-font;
      color: $text-color-dark;
      transition: all .3s ease;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 36px;
      padding-right: 0px;
      position: relative;
    }
    .nav-link-active{
      font-weight: bold;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 3px;
      text-decoration-color: $primary-color;
    }
  }
  .navbar-toggler{
    @media (min-width: 320px) and (max-width: 768px) {
      padding-right: 23px;
      line-height: 5px;
    }
    outline: 0;
    padding: 0;
    .icon-bar {
      height: 2px;
      width: 25px;
      transition: all 0.2s;
      background: $primary-color;
      display: block;
    }
    &.collapsed{
      .icon-bar{
        &:nth-child(1){
          transform: rotate(0);
        }
        &:nth-child(2){
          opacity: 1;
          filter: alpha(opacity=1);
        }
        &:nth-child(3){
          transform: rotate(0);
        }
      }
    }
  }

  &.nav-bg{
    padding: 12px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }

}
