//site color variables
$body-color: #fff;

//primary-color: #EAA4A4;
$primary-color: #8DD1C5;
$secondary-color: #8DD1C5;
$text-color: #000000;
$text-color-dark: #000000;

$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #909090;
$dark-gray: #606060;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

