{{ define "main" }}

<script>
document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('menu-work').className = 'nav-link nav-link-active';
}, false);
</script>

<section class="site-project-single-section">
  <div class="container">
    <div class="mx-auto">
      <div class="site-project-single">
        <!-- Project -->
        <h1>
          {{ .Title }}
        </h1>
        <div class="site-project-single-description">
          {{ .Content | safeHTML }}
        </div>


        <div class="container">
          <div class="row" style="flex-wrap: nowrap;">

            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
              {{ if .NextInSection }}
              <div class="site-project-single-action">
                <a class="siteproject-link-next" href="{{.NextInSection.Permalink}}">
                  <span class="link-area">
                    <span data-text="Next">
                      Next
                    </span>
                  </span>
                </a>
              </div>
              {{ end }}
            </div>

            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6"></div>

            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
              {{ if .PrevInSection }}
              <div class="site-project-single-action">
                <a class="siteproject-link-previous" href="{{.PrevInSection.Permalink}}">
                  <span class="link-area">
                    <span data-text="Previous">
                      Previous
                    </span>
                  </span>
                </a>
              </div>
              {{ end }}
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>



{{ end }}

