{{ define "main" }}

<script>
$( document ).ready(function() {
  document.getElementById('menu-contact').className = 'nav-link nav-link-active';
});

//window.onload = function() {
//  document.getElementById('menu-contact').className = 'nav-link nav-link-active';
//};
</script>

<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_description | safeHTML }} &#128077;&#127995;</h4>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}