{{ define "main" }}

<script>
document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('menu-contact').className = 'nav-link nav-link-active';
}, false);

//window.onload = function() {
//  document.getElementById('menu-contact').className = 'nav-link nav-link-active';
//};
</script>

<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="site-contact-form">
          <h4>Send me an email at <span><a href="mailto:msirikasem@gmail.com">msirikasem@gmail.com</a></span><br>and I will be in touch with you soon. &#128077;&#127995;</h4>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
